$sidebar-width: 12rem;
$head-height: 40px;

// body
.grid {
  display: grid;
  grid-template-columns: $sidebar-width auto;
  grid-template-rows: $head-height auto;
}

.header {
  background: lighten($dark, 5%);
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: $secondary;
  min-height: $head-height;
  

  &__link {
    color: $secondary;
    cursor: pointer;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

.nav {
  min-height: $head-height;
  background: darken($dark, 1%);
}

.main {
  overflow-y: auto;
  background: $main-background;
  padding: 10px;
}

// nav
.nav-link {
  color: $secondary;

  &:hover {
    background: transparentize($secondary, 0.9);
    color: $cyan;
  }
}

// button
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    border-bottom: 3px solid;
    border-color: darken($value, 5%);
    
    &:hover {
      border-color: darken($value, 10%);
      background: darken($value, 5%);
    }
  }
}

.card {
  @extend %card;
}

// tablle
.table {
  @extend %card;

  thead {
    border-bottom: 1px solid $table-border-color;
  }

  tfoot {
    border-top: 1px solid $table-border-color;
  }
}


